
/*Mobile first layout*/

/*INDEX


*/

/*VARIABLES AND PRESSTYLING*/

:root{
    --strong-cyan:hsl(172, 67%, 45%);
    --strong-cyan-light:hsl(172, 74%, 53%);
    --strong-cyan-lighter:hsl(172, 92%, 59%);
    --very-dark-cyan:hsl(183, 100%, 15%);
    --dark-grayish-cyan:hsl(186, 14%, 43%);
    --dark-grayish-cyan-light:hsl(184, 14%, 56%);
    --light-grayish-cyan:hsl(185, 41%, 84%);
    --lighter-grayish-cyan:hsl(189, 41%, 97%);
    --white:hsl(0, 0%, 100%);
    --grayish-cyan:#f4fafa;
}

@font-face{
    font-family:'Space Mono';
    src:url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
}

body{
    font-family:'Space Mono',sans-serif;
    background-color:var(--light-grayish-cyan);
}

label{
    display:block;
    color:var(--very-dark-cyan);
    margin-bottom:8px;
}

input{
    text-align:right;
    font-size:24px;
}

input,button,.splitter__number,.splitter__reset{
    font-weight:700;
}

input:focus{
    outline:none;
    outline:2px solid var(--strong-cyan);
}

.icon{
    background-repeat: no-repeat;
    background-position:center left 5%;
}

/*UTILITIES*/

.flex{
    display:flex;
    flex-wrap:wrap;
}

.line-break{
    display:block;
}

/*MAIN*/

main{
    position:absolute;
    width:100%;
    top:45%;
    transform:translateY(-50%);
}

/*HEADER H1*/

.card__title{
    letter-spacing:5px;
    line-height: 1.4;
    font-size:23px;
    color:hsl(183, 100%, 24%);
    text-align: center;
    margin-bottom:70px;
}

/*GENERAL CARD LAYOUT*/

.splitter{
    background-color:var(--white);
    padding:23px;
    border-radius:22px;
    min-width:296px;
}

.splitter__info,.splitter__results{
    flex-basis:100%;
}

.splitter__results{
    background-color: var(--very-dark-cyan);
    border-radius:12px;
    padding:20px;
}

.splitter__bill{
    background-image:url(../img/icon-dollar.svg);
}

.splitter__people{
    background-image:url(../img/icon-person.svg);
}

/*CARD INPUT SECTION*/

.splitter__element{
    margin-bottom:30px;
}

.splitter__element input{
    width:100%;
    padding:10px;
    border:none;
    background-color: var(--grayish-cyan);
    border-radius:5px;
    color:var(--very-dark-cyan);
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(120px,1fr));
    gap:20px;
}

.grid button{
    padding:12px 15px;
    border:none;
    border-radius:5px;
    background-color:var(--very-dark-cyan);
    font-size:24px;
    color:var(--white);
    cursor:pointer;
}

#button-active{
    background-color:var(--strong-cyan-light);
    color:var(--very-dark-cyan);
}

.grid button:hover{
    background-color:var(--strong-cyan-light);
    color:var(--very-dark-cyan);
}

/*RESULT CARD SECTION*/

.splitter__result{
    margin-top:25px;
    color:var(--white);
}

.splitter__size .splitter__number{
    font-size:30px;
}

.splitter__element p{
    margin-bottom:12px;
}

.splitter__results .flex{
    justify-content: space-between;
}

.splitter__reset{
    width:100%;
    padding:12px 0;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:20px;
    text-transform: uppercase;
    background-color:var(--strong-cyan);
    color:var(--very-dark-cyan);
}

.splitter__reset:hover{
    background-color:var(--strong-cyan-lighter);
}
    
.splitter__person{
    display:block;
    color:rgba(255,255,255,.5);
    font-size:14px;
    line-height:1.7;
}

.splitter__number{
    font-size:30px;
    color:var(--strong-cyan);
}

/*ATTRIBUTION FOOTER*/

.attribution {
    font-size: 11px;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width:782px){
    .splitter__info,.splitter__results{
        flex-basis:auto;
        flex:1;
    }

    .flex{
        gap:50px;
    }

    .splitter__results{
        padding:30px 35px;
    }

    .splitter{
        max-width:900px;
        margin:auto;
        padding:25px 25px 25px 40px;
    }

    .splitter__element input{
        padding:5px;
    }

    .grid{
        grid-template-columns:1fr 1fr 1fr;
    }

    .splitter__element{
        margin-bottom:40px;
    }

    .grid button{
        padding:8px 15px;
    }

    .splitter__number{
        font-size:44px;
    }

    .splitter__result{
        margin-bottom:50px;
    }

    .splitter__result:last-child{
        margin-top:110px;
        margin-bottom:0;
    }
    
    .splitter__info{
        padding-top:15px;
    }

    .attribution{
        bottom:30px;
    }

}




